<h1><%= @restaurant.name %></h1>

<ul >
  <li>Address: <%= @restaurant.address %> </li>
  <li>Phone number: <%= @restaurant.phone_number %> </li>
  <li>Category: <%= @restaurant.category %> </li>
</ul>

<h2>Reviews</h2>

<% @restaurant.reviews.each do |review| %>
  <div class="review">
    <p><%= review.rating %></p>
    <p><%= review.content %></p>
  </div>
<% end %>



<%= link_to 'Back', restaurants_path %> |
<%= link_to "Add a review", new_restaurant_review_path(@restaurant) %>
